<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
            <h3>Posts:</h3>

            <% posts.forEach(function(post) { %>
                <h4>

                <form method="POST" action="/posts/<%= post._id %>?_method=DELETE">
                    <h4><%= post.title %></h4>
                    <h5><%= post.content %></h5>
                    <a href="<%= post.website %>">Website</a><br>
                    <a href="/posts/<%= post._id %>">EDIT (NEEDS BUTTON)</a>

                    <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                </form>

                </h4>
            <% }) %>
        </div>
        <a href="/posts/new" class="btn btn-primary">New</a>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
