<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid">
    <header>
        <% include ../partials/header %>
    </header>


    <% posts.forEach(function(post) { %>

    <div class="container">

        <div>
            <p class="post-title"><%= post.title %></p>
        </div>

        <div class="post-content">
            <p><%= post.content %></p>
        </div>

        <% var webUrl = post.website; %>
        <% if (webUrl) { %>
            <div>
                <a class="post-time" href="<%= webUrl %>" target="_blank"><%= post.title %></a>
            </div>
        <% } %>

        <div>
            <p class="post-time"><%= post.getUpdatedAt() %></p>
        </div>

        <!--buttons-->
            <% if (post.user.equals(currentUser.id)) { %>
                <a href="/posts/<%= post._id %>"><button type="button" class="post-button material-icons">
                        mode_edit
                    </button></a>

                <form method="post" action="/posts/<%= post._id %>?_method=DELETE" class="post-inline">
                    <button type="submit" class="post-button material-icons">delete</button>
                </form>
            <% } %>

        </div>
        <!--end buttons-->
    <% }); %>
    <!--post-->

    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/scripts %>